@import 'variables.scss';
@import 'switchButton.scss';
@import 'menu.scss';
@import 'navBar.scss';
@import 'search.scss';
@import 'header.scss';
@import 'aside.scss';

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  --primaryColor: #fff;
  color: #000;
  font-family: 'Karla', sans-serif;
  background-color: var(--greyDark);

  &.darkTheme {
    color: white;
    background-color: var(--greyLight);
  }
}

body {
  transition: background 0.2s;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

ul {
  list-style-type: none;
}

