:root {
    --white: #fff;
    --greyDark: #414141;
    --greyLight: #dcdada;
    --primaryColor: #004eff;
    // --primaryColor: #242424;
    --secondaryColor: #0084ff;
}
// :root {
//     --grayOne: #dcdada;
//     --grayTwo: #b9b8b8;
//     --grayThree: #666666;
//     --grayFour: #3f3f3f;
//     --grayFive: #222222;
//     --primaryColorOne: #799cff;
//     --primaryColorTwo: #5381ff;
//     --primaryColorThree: #356bff;
//     --primaryColorFour: #1856ff;
//     --primaryColorFive: #0044ff;
//     --contrastColor:
// }